<!DOCTYPE html>
html(lang="fr")
  include includes/head.pug
    
    title À propos - Louis Widdy - Intégrateur Web - Portfolio
  body
    .box__bar
      .bar
    .loader
      .loader-spinner
    header
      nav.nav
        .nav__icon
          a(href="mailto:louis_widdy@live.fr") 
            i.fas.fa-envelope  Contactez-moi
          .hamburger
            .line
            .line
            .line
        ul.nav__list
          li.nav__item
            a.nav__link(href="https://codepen.io/codwerk", target="_blank")
              img(src="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico", alt="", height="25px", width="25px")
          li.nav__item
            a.nav__link(href="https://github.com/codwerk", target="_blank")
              img(src="https://github.com/fluidicon.png", alt="", height="25px", width="25px")
          li.nav__item
            a.nav__link(href="https://codesandbox.io/u/codwerk", target="_blank")
              img(src="https://codesandbox.io/favicon.ico", alt="", height="25px", width="25px")
          .active
    main
      section(style="overflow: visible!important").landing
        .landing__container
          h1.landingL__title À propos
        .landing__wrapper
          .landing__paper-grid
            .landing__paper-grid__img
            .landing__paper-grid__intro
              .landing__paper-grid__about
                .landing__paper-grid__name
                  h1.landingL__title Louis Widdy <br/>
                    span (alias Codwerk)
                  ol
                    li 
                      strong Intégrateur web, designer front : <br/>
                      em passionnée par le web côté , je sais designer un site, l'intégrer et le rendre responsive
                    li
                      |Passionné de mangas (otaku), high-tech, développement web, fitness et dessinateur à mes heures perdues. je suis un cinéphile, binge-watch.
            .landing__paper-grid__nav
              ul.landing__paper-grid__navList
                li.landing__paper-grid__navItem
                  a(href="cv.html", target="_blank").landing__paper-grid__navLink 
                    i.far.fa-file-word
                    |cv
                li.landing__paper-grid__navItem
                  a(href="").landing__paper-grid__navLink 
                    i.far.fa-question-circle
                    |faq
          
        .landing__about-social
          p.landing__about-social__word Restons en contact : 
          ul.landing__about-social__list
            li.landing__about-social__item#twitter
              a(href="https://twitter.com/codwerk", target="_blank").landing__about-social__link 
                i.fab.fa-twitter
            li.landing__about-social__item#linkedin
              a(href="https://www.linkedin.com/in/widdy-louis-1a226ba9/", target="_blank").landing__about-social__link 
                i.fab.fa-linkedin-in
            li.landing__about-social__item#instagram
              a(href="https://www.instagram.com/codwerk/", target="_blank").landing__about-social__link 
                i.fab.fa-instagram
      
      section.landing__about
        .about
          .about__portraitChinois
            h3.about__portraitChinois-title portrait <br/> chinois

          .about__wording
            h3.about__wording-title le garcon qui veux tout faire
            .about__wording-txt
              p
                strong Mi-designer, mi-développeur. 
                |passionnée par les animations, photoshop illustrator; curiosité pour le Javascript; CSS addicte; prêt à tout pour apprendre plus; la curiosité me dévore pour atteindre mon but devenir développeur front-end; décollage vers le front-end.
              p En dernière année d'étude en developpement Web.(5eme année)

              p Après plus de 2 ans d'expérience au sein de l’hebdomadaire Le Point, je suis à la recherche d'une nouvelle aventure. Go sur 
               a(href="cv.html", target="_blank").about__wording-linkCv mon CV
              
              p Ce que je kiffe le plus, c'est designer et intégrer des sites, j'ai envie de découvrir le monde du front-end ! 

      section.landing__about-2
        .about-2
          .about__cqjf 
            h3.about__cqjf-title ce que je sais faire

            .about__cqjf-txt
              
              ul.about__cqjf-container__list 
                li.about__cqjf-container__list-item
                  span Developpement HTML5/CSS3 :
                  |HTML5/CSS/PUG; Intégration Pixel Perfect; Animation CSS; Responsive Design; <br/> Mobile First; Système de grid; Pré-processeur CSS, SCSS; Mise en place des balises; Animation.css;
                li.about__cqjf-container__list-item
                  span Développement JS :
                  |Développement Javascript; jQuery afin de manipuler le DOM; scrollrevealjs; AOS library; owl carousel 2;
                  
                li.about__cqjf-container__list-item
                  span Développement Wordpress :
                  |Création et intégration d’un thème; Installation de plugins; Refonte de thème; Local by Flywheel;
                li.about__cqjf-container__list-item
              
              p Je publie régulièrement des intégrations animée sur mon 
                a(href="https://codepen.io/codwerk", target="_blank").about__cqjf-txt__link codwerk (codepen),  
                a(href="https://codesandbox.io/u/codwerk", target="_blank").about__cqjf-txt__link codwerk (codesandbox)
                |  inspiré par divers créations de designer front-end.
                <br/><br/>
                |Vous pouvez consultez 
                a(href="cv.html", target="_blank").about__cqjf-txt__link mon CV

          .about__img
            .image
            .image
            .image




    include includes/footer.pug

    include includes/foot.pug