/*** Mixins  ***/
/*** Default Styles ***/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'circular std', sans-serif;
  list-style: none;
  outline: none; }

a {
  text-decoration: none;
  display: inline-block; }

/*** Color Variables ***/
@-webkit-keyframes line {
  from {
    background-size: 100% 100%;
    background-position: bottom right; }
  50% {
    background-size: 0% 100%;
    background-position: bottom right; }
  50.01% {
    background-position: bottom left; }
  100% {
    background-size: 100% 100%;
    background-position: bottom left; } }
@keyframes line {
  from {
    background-size: 100% 100%;
    background-position: bottom right; }
  50% {
    background-size: 0% 100%;
    background-position: bottom right; }
  50.01% {
    background-position: bottom left; }
  100% {
    background-size: 100% 100%;
    background-position: bottom left; } }

@-webkit-keyframes anim-effect-front {
  0% {
    -webkit-box-shadow: 0 0 0 15px #D9B166;
    box-shadow: 0 0 0 15px #D9B166;
    opacity: 1; }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
    box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
    box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
    opacity: 0; } }

@keyframes anim-effect-front {
  0% {
    -webkit-box-shadow: 0 0 0 15px #D9B166;
    box-shadow: 0 0 0 15px #D9B166;
    opacity: 1; }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
    box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
    box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
    opacity: 0; } }

@-webkit-keyframes anim-effect-back {
  0% {
    -webkit-box-shadow: 0 0 0 20px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 20px rgba(217, 177, 102, 0.11);
    opacity: 1; }
  50% {
    -webkit-box-shadow: 0 0 0 50px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 50px rgba(217, 177, 102, 0.11);
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0 0 70px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 70px rgba(217, 177, 102, 0.11);
    opacity: 1; } }

@keyframes anim-effect-back {
  0% {
    -webkit-box-shadow: 0 0 0 20px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 20px rgba(217, 177, 102, 0.11);
    opacity: 1; }
  50% {
    -webkit-box-shadow: 0 0 0 50px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 50px rgba(217, 177, 102, 0.11);
    opacity: 1; }
  100% {
    -webkit-box-shadow: 0 0 0 70px rgba(217, 177, 102, 0.11);
    box-shadow: 0 0 0 70px rgba(217, 177, 102, 0.11);
    opacity: 1; } }

@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-webkit-keyframes circledistorted {
  0% {
    border-radius: 70% 40% 40% 70% / 60% 30% 60% 40%; }
  25% {
    border-radius: 60% 30% 60% 40% / 70% 40% 40% 70%; }
  50% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
  75% {
    border-radius: 60% 30% 60% 40% / 70% 40% 40% 70%; }
  100% {
    border-radius: 70% 40% 40% 70% / 60% 30% 60% 40%; } }

@keyframes circledistorted {
  0% {
    border-radius: 70% 40% 40% 70% / 60% 30% 60% 40%; }
  25% {
    border-radius: 60% 30% 60% 40% / 70% 40% 40% 70%; }
  50% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
  75% {
    border-radius: 60% 30% 60% 40% / 70% 40% 40% 70%; }
  100% {
    border-radius: 70% 40% 40% 70% / 60% 30% 60% 40%; } }

/*** header ***/
header {
  max-width: 80%;
  margin: 0 auto;
  -webkit-transition: all 480ms;
  -o-transition: all 480ms;
  transition: all 480ms; }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    header .nav .nav__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* Hamburger Menu */ }
      header .nav .nav__icon a {
        color: #D9B166;
        font-size: 1.05em; }
      header .nav .nav__icon .hamburger {
        width: 2.25rem;
        position: relative;
        cursor: pointer;
        display: none; }
        header .nav .nav__icon .hamburger .line {
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background-color: #D9B166;
          position: absolute;
          display: block;
          right: 0;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          header .nav .nav__icon .hamburger .line:nth-child(1) {
            top: 0; }
          header .nav .nav__icon .hamburger .line:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            width: 2rem; }
          header .nav .nav__icon .hamburger .line:nth-child(3) {
            top: 100%;
            margin-top: -2px;
            width: 1.5rem; }
        header .nav .nav__icon .hamburger:hover .line {
          width: 100%; }
    header .nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      overflow: hidden; }
      header .nav .nav__list .nav__item {
        padding: 1.45em 0;
        cursor: pointer;
        min-width: 5rem;
        text-align: center;
        -webkit-transform: all .6s;
        -ms-transform: all .6s;
        transform: all .6s; }
        header .nav .nav__list .nav__item:nth-child(1):hover ~ .active {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0); }
        header .nav .nav__list .nav__item:nth-child(2):hover ~ .active {
          -webkit-transform: translateX(5rem);
          -ms-transform: translateX(5rem);
          transform: translateX(5rem); }
        header .nav .nav__list .nav__item:nth-child(3):hover ~ .active {
          -webkit-transform: translateX(10rem);
          -ms-transform: translateX(10rem);
          transform: translateX(10rem); }
      header .nav .nav__list .active {
        height: 1px;
        width: 5rem;
        background-color: #D9B166;
        position: absolute;
        bottom: 1rem;
        -webkit-transform: translateX(-10rem);
        -ms-transform: translateX(-10rem);
        transform: translateX(-10rem);
        opacity: 1;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        -webkit-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s; }
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    header {
      /* smartphone en mode portait */ } }

@media only screen and (max-width: 767px) {
  /* smartphone */
  header {
    max-width: 100%; }
    header .nav .nav__icon {
      padding: 1em;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      header .nav .nav__icon .hamburger {
        display: block; }
    header .nav .nav__list {
      top: -100px;
      position: fixed;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
      header .nav .nav__list.is-active {
        top: 100px; } }

main {
  /* Landing */ }
  main .landing {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms;
    position: relative;
    overflow: hidden; }
    main .landing:before {
      content: '';
      right: 50px;
      width: 500px;
      height: 500px;
      border: 1px solid #D9B166;
      position: absolute;
      border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
      -webkit-animation: moveleftbounce 10.9s linear infinite;
      animation: moveleftbounce 10.9s linear infinite;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms;
      z-index: -2; }
    main .landing .landing__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 40px; }
      main .landing .landing__wrapper .landingL:before {
        content: '';
        left: 0;
        bottom: 20%;
        width: 100px;
        height: 100px;
        background-color: #D9B166;
        border: 1px solid #D9B166;
        position: absolute;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        -webkit-animation: moveleftbounce 10.9s linear infinite;
        animation: moveleftbounce 10.9s linear infinite;
        -webkit-transition: all 480ms;
        -o-transition: all 480ms;
        transition: all 480ms; }
      main .landing .landing__wrapper .landingL .landingL__title {
        font-size: 40px;
        font-weight: 400;
        color: #17191A; }
        main .landing .landing__wrapper .landingL .landingL__title i {
          color: #D9B166; }
      main .landing .landing__wrapper .landingL .landingL__wording {
        font-size: 1.05em;
        font-weight: 100;
        color: #17191A;
        margin-top: 10px;
        color: #8F9EA5; }
        main .landing .landing__wrapper .landingL .landingL__wording span {
          display: inline-block;
          color: #D9B166;
          background: -webkit-gradient(linear, left bottom, left top, from(#d9b166), color-stop(5%, rgba(217, 177, 102, 0.5)), color-stop(10.01%, transparent)) no-repeat;
          background: -webkit-linear-gradient(bottom, #d9b166 0%, rgba(217, 177, 102, 0.5) 5%, transparent 10.01%) no-repeat;
          background: -o-linear-gradient(bottom, #d9b166 0%, rgba(217, 177, 102, 0.5) 5%, transparent 10.01%) no-repeat;
          background: linear-gradient(to top, #d9b166 0%, rgba(217, 177, 102, 0.5) 5%, transparent 10.01%) no-repeat;
          background-size: 0% 100%;
          -webkit-transition: background-size .3s ease;
          -o-transition: background-size .3s ease;
          transition: background-size .3s ease;
          padding-bottom: .25em;
          cursor: pointer; }
          main .landing .landing__wrapper .landingL .landingL__wording span:hover {
            background-size: 100% 100%; }
      main .landing .landing__wrapper .landingL li {
        padding: 1em;
        position: relative; }
        main .landing .landing__wrapper .landingL li:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 10px;
          height: 10px;
          border: 1px solid #D9B166;
          border-radius: 50%;
          cursor: pointer;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
        main .landing .landing__wrapper .landingL li:hover:before {
          background-color: #D9B166; }
      main .landing .landing__wrapper .landingR img {
        border: 2px solid #D9B166;
        border-radius: 50%;
        width: 80%; }
    main .landing .landing__circles {
      width: 20px;
      border: 1px solid #D9B166;
      padding: .15em;
      border-radius: 20px;
      height: 50px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 5em auto;
      left: 50%;
      right: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-animation: movebounce 10s linear infinite;
      animation: movebounce 10s linear infinite; }
      main .landing .landing__circles .landing_circle1 {
        -webkit-animation: 2.5s anim-effect-front 2.5s linear infinite;
        animation: 2.5s anim-effect-front 2.5s linear infinite;
        -webkit-box-shadow: 0 0 0 20px #e8e8e8;
        box-shadow: 0 0 0 20px #e8e8e8;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 0;
        background-color: #fff;
        margin: auto; }
      main .landing .landing__circles .landing_circle2 {
        -webkit-animation: 2.5s anim-effect-back 2.5s linear infinite;
        animation: 2.5s anim-effect-back 2.5s linear infinite;
        -webkit-box-shadow: 0 0 0 20px #e8e8e8;
        box-shadow: 0 0 0 20px #e8e8e8;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        z-index: 0;
        background-color: #D9B166;
        margin: auto; }

@media only screen and (max-width: 767px) {
  /* smartphone */
  main .landing {
    max-width: 100%;
    padding: 0 1em;
    margin-bottom: 20px; }
    main .landing:before {
      width: 300px;
      height: 300px; }
    main .landing .landing__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      main .landing .landing__wrapper .landingL:before {
        bottom: 10%; }
      main .landing .landing__wrapper .landingL .landingL__wording {
        font-size: .855em;
        line-height: 1;
        opacity: 1;
        color: #17191A; }
      main .landing .landing__wrapper .landingR {
        text-align: center; }
        main .landing .landing__wrapper .landingR img {
          width: 30%;
          margin-bottom: 40px; } }

@media only screen and (min-width: 768px) {
  /* tablettes et ordinateurs */
  main .landing .landing__wrapper .landingL {
    width: 50vw; }
  main .landing .landing__wrapper .landingR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* Skills */
main .skills {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 70%;
  margin: 0 auto; }
  main .skills .skills__title {
    line-height: 28px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 32px;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #D9B166;
    font-weight: bold;
    text-align: center; }
  main .skills .skills__wording {
    font-size: 1.05em;
    font-weight: 100;
    color: #17191A;
    margin-top: 10px;
    color: #8F9EA5;
    text-align: center;
    margin-bottom: 30px;
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
  main .skills .skills_icons {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: auto;
    border-bottom: 1px solid #D9B166; }
    main .skills .skills_icons li {
      padding: 10px;
      color: #8F9EA5;
      font-size: 1.75rem;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms;
      cursor: pointer; }
      main .skills .skills_icons li:hover {
        color: #161616;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5); }
  main .skills .html5 i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .html5 i:hover {
      color: #E44D26; }
  main .skills .css3 i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .css3 i:hover {
      color: #264DE4; }
  main .skills .js i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .js i:hover {
      color: #F7DF1E; }
  main .skills .sass i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .sass i:hover {
      color: #C86395; }
  main .skills .yarn i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .yarn i:hover {
      color: #2B8AB6; }
  main .skills .bootstrap i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .bootstrap i:hover {
      color: #8254CA; }
  main .skills .wordpress i {
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms; }
    main .skills .wordpress i:hover {
      color: #1D88B9; }
  main .skills .skills__lire {
    text-align: center; }
    main .skills .skills__lire .skills__txt {
      margin: 50px auto 0;
      text-align: center;
      width: 100%;
      font-size: 1.05em;
      line-height: 1.5;
      margin-bottom: 32px;
      letter-spacing: 4px;
      color: #8F9EA5;
      font-weight: 100;
      text-align: center;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
    main .skills .skills__lire .skills__lire-cv {
      display: inline-block;
      border: 1px solid #D9B166;
      color: #D9B166;
      border-radius: 4em 8em;
      text-transform: uppercase;
      font-size: 14px;
      padding: 3em;
      -webkit-animation: circledistorted 4s linear infinite;
      animation: circledistorted 4s linear infinite;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms; }
      main .skills .skills__lire .skills__lire-cv:hover {
        background-color: #D9B166;
        color: #fff; }

@media only screen and (max-width: 767px) {
  main .skills {
    max-width: 100%;
    padding: 0 1em; }
    main .skills .skills__title {
      font-size: 1.090em; }
    main .skills .skills__wording {
      font-size: 1em;
      line-height: 1.5;
      color: #17191A; }
    main .skills .skills_icons li {
      font-size: 1.175em; }
    main .skills .skills__lire .skills__txt {
      font-size: .875em;
      color: #17191A; } }

/* Projets */
.container__projets {
  margin-top: 5em; }
  .container__projets .projets__wrapper {
    max-width: 80%;
    position: relative;
    margin: 2em auto;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .container__projets .projets__wrapper:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .container__projets .projets__wrapper .projets__img {
      width: 60%;
      height: 100%;
      outline: none;
      position: relative;
      margin: auto;
      overflow: hidden;
      border: 5px solid #fff;
      -webkit-transition: all 480ms;
      -o-transition: all 480ms;
      transition: all 480ms;
      -webkit-box-shadow: 0px 0px 10px 5px rgba(23, 30, 36, 0.06);
      box-shadow: 0px 0px 10px 5px rgba(23, 30, 36, 0.06); }
    .container__projets .projets__wrapper .projets__infos {
      text-align: center; }
      .container__projets .projets__wrapper .projets__infos .projets__infos-title {
        color: #17191A;
        font-weight: 600;
        font-size: 1.425em;
        margin-bottom: .5em; }
      .container__projets .projets__wrapper .projets__infos .projets__infos-link {
        font-size: 1.425em;
        margin-bottom: 1.5em;
        font-weight: 200;
        color: #D9B166;
        position: relative;
        outline: none; }
        .container__projets .projets__wrapper .projets__infos .projets__infos-link:before {
          content: '';
          left: 0;
          top: 30px;
          width: 100px;
          height: 20px;
          border: 1px solid #D9B166;
          position: absolute;
          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
          -webkit-animation: moveleftbounce 10.9s linear infinite;
          animation: moveleftbounce 10.9s linear infinite;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
      .container__projets .projets__wrapper .projets__infos .projets__icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .container__projets .projets__wrapper .projets__infos .projets__icons li {
          padding: 10px;
          color: #8F9EA5;
          font-size: 2.75rem;
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms;
          cursor: pointer; }
          .container__projets .projets__wrapper .projets__infos .projets__icons li:hover {
            color: #161616;
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5); }
        .container__projets .projets__wrapper .projets__infos .projets__icons .html5 i {
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          .container__projets .projets__wrapper .projets__infos .projets__icons .html5 i:hover {
            color: #E44D26; }
        .container__projets .projets__wrapper .projets__infos .projets__icons .css3 i {
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          .container__projets .projets__wrapper .projets__infos .projets__icons .css3 i:hover {
            color: #264DE4; }
        .container__projets .projets__wrapper .projets__infos .projets__icons .js i {
          -webkit-transition: all 480ms;
          -o-transition: all 480ms;
          transition: all 480ms; }
          .container__projets .projets__wrapper .projets__infos .projets__icons .js i:hover {
            color: #F7DF1E; }

@media only screen and (max-width: 768px) {
  /*.projets__title {
    font-size: 1.090em;
  }*/ }

@media only screen and (min-width: 768px) {
  .projets__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .projets__infos .projets__title {
      font-size: 30px; } }

@media only screen and (max-width: 1024px) {
  .container__projets .projets__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .container__projets .projets__wrapper:nth-child(even) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .container__projets .projets__wrapper .projets__img {
      width: 100%; }
    .container__projets .projets__wrapper .projets__infos {
      text-align: center;
      margin-bottom: 10px; }
      .container__projets .projets__wrapper .projets__infos .projets__infos-title {
        margin-top: .75em;
        font-size: .875em; }
      .container__projets .projets__wrapper .projets__infos .projets__infos-link {
        font-size: .875em;
        margin: 10px auto; }
        .container__projets .projets__wrapper .projets__infos .projets__infos-link:before {
          width: 70px;
          height: 10px;
          top: 16px;
          left: -20px; }
      .container__projets .projets__wrapper .projets__infos .projets__icons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .container__projets .projets__wrapper .projets__infos .projets__icons li {
          font-size: 1.75rem; } }
