footer
     .footer__corporate
      .footer__corporate-links
        .footer__corporate-links__logo
          img(src="assets/images/ms-icon-310x310.png",width="60px" , alt="logo du site")
          span Louis Widdy
        .footer__corporate-links__bottom-container
          .footer__corporate-links__copyrigth
            span © Copyright Louis Widdy 
            |Portfolio
          nav.footer__corporate-links__link-container
            ul.footer__corporate-links__List
              li.footer__corporate-links__Item
                a(href="").footer__corporate-links__Link Mentions Légales
              li.footer__corporate-links__Item
                a(href="").footer__corporate-links__Link Plan du site
              li.footer__corporate-links__Item
                a(href="mailto:louis_widdy@live.fr").footer__corporate-links__Link Contactez-moi