head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //SEO
    meta(name='keywords' content='portfolio, intégrateur, louis')
    meta(name='author' content='Widdy Louis')
    meta(name='copyright' content='© Copyright 2020 - Widdy Louis')

    //Robots
    meta(name='robots' content='index, follow')
    meta(name='location' content='Paris, FRANCE')
    <link rel="icon" type="image/x-icon" href="favicon.ico" />


    // Facebook meta essentiel
    meta(property='og:title' content='Widdy - Intégrateur Web')
    meta(property='og:type' content='website')
    //meta(property='og:image' content='http://louiswiddy.com/assets/images/partager.png')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:url' content='http://louiswiddy.com/')
    // Facebook meta optionnel
    meta(property='og:locale' content='fr_FR')
    meta(property='og:site-name' content='louiswiddy.com')
    meta(property='og:description' content="Portfolio d'un Intégrateur Web, en Île-de-France. HTML/CSS, Javascript, SASS, PUG, Responsive Design, First Mobile")

    //CSS
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/cv.css")
    link(rel="stylesheet", href="assets/css/apropos.css")
    link(rel="stylesheet", href="assets/css/index.css")